<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo Fersan Home</title>
  {% load static %} 
  <link rel="icon" type="image/png" href="{% static 'images/LOGOS_CARGA_PAGINA/HOLA.png' %}">                                              
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body id="home-page"> 

{% include 'components/menu_hamburguesa.html'%}

<main class="ml-64 p-8">
  
  <div class="info-carousel-wrapper"> 
    <div class="info-carousel">
        {% for tarjeta in contenido.tarjetas %}
        <div class="info-card">
          <img src="{% static tarjeta.imagen %}" alt="Imagen Empresa">
          <div class="info-content">
                <h3>{{ tarjeta.titulo }}</h3>
                <p>{{ tarjeta.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  
  <h2 class="centered-title">Marcas</h2>

<div class="carousel-wrapper" role="region" aria-label="Carrusel de marcas">
  <button class="carousel-btn left-btn" aria-label="Mover a la izquierda" onclick="moveCarousel('left')">&#10094;</button>
  
  <div class="carousel-container" tabindex="0">
    <div class="agency-card" tabindex="0" onclick="showInfo('volkswagen')" aria-label="Volkswagen">
      <img src="{% static 'images/logos_home/vk.png' %}" alt="Logo de Volkswagen">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('suzuki')" aria-label="Suzuki">
      <img src="{% static 'images/logos_home/suzuki.png' %}" alt="Logo de Suzuki">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('harley')" aria-label="Harley Davidson">
      <img src="{% static 'images/logos_home/harley.png' %}" alt="Logo de Harley Davidson">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('seat')" aria-label="SEAT">
      <img src="{% static 'images/logos_home/seat.png' %}" alt="Logo de SEAT">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('omoda')" aria-label="Omoda">
      <img src="{% static 'images/logos_home/omoda.png' %}" alt="Logo de Omoda">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('sev')" aria-label="SEV">
      <img src="{% static 'images/logos_home/sev.png' %}" alt="Logo de SEV">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('zeekr')" aria-label="Zeekr">
      <img src="{% static 'images/logos_home/zeekr.png' %}" alt="Logo de Zeekr">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('chirey')" aria-label="Chirey">
      <img src="{% static 'images/logos_home/chirey.png' %}" alt="Logo de Chirey">
    </div>
    <div class="agency-card" tabindex="0" onclick="showInfo('motornation')" aria-label="Motornation">
      <img src="{% static 'images/logos_home/motornation.png' %}" alt="Logo de Motornation">
    </div>
  </div>
  
  <button class="carousel-btn right-btn" aria-label="Mover a la derecha" onclick="moveCarousel('right')">&#10095;</button>
</div>


<!-- Modal de información -->
 <!-- Volskwagen -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/jetta2024.png' %}" alt="Jetta 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Suzuki -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/swift2024.png' %}" alt="Swift 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Harley -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/harley2024.png' %}" alt="harley 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Seat -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/ibiza2024.png' %}" alt="Ibiza 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Omoda -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/omoda2024.png' %}" alt="Omoda 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Sev -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/sev2024.png' %}" alt="SEV 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Zeekr -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/zeekr2024.png' %}" alt="Zeekr 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Chirey -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/chirey2024.png' %}" alt="Chirey 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<!-- Motornation -->
<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="image-container">
      <img id="modal-image" src="{% static 'images/motornation2024.png' %}" alt="Motornation 2024">
      <div class="info-overlay">
        <div id="modal-text" class="info-text"></div>
      </div>
    </div>
    <button class="close-btn">Cerrar</button>
  </div>
</div>

<h2 class="centered-title">Notas de Interés</h2>
<div class="interest-carousel-wrapper">
  <div class="interest-carousel">
    {% for nota in notas.notas %}
    <div class="interest-card">
      <img src="{% static nota.imagen %}" alt="Imagen de {{ nota.titulo }}">
      <div class="interest-content">
        <h3>{{ nota.titulo }}</h3>
        <p>{{ nota.descripcion }}</p>
        <button onclick="window.location.href='{{ nota.enlace }}';">Leer</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
      
</main>
{% include 'components/pie_de_pagina.html'%}
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/infocarousel.js' %}"></script>
</body>
</html>


