<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Localizador de Agencias</title>
  {% load static %}  <!-- Cargar el módulo de etiquetas estáticas -->
  <link rel="icon" type="image/png" href="{% static 'images/LOGOS_CARGA_PAGINA/HOLA.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body id="localizador-page" > <!-- Añadimos un ID único para esta página -->

    {% include 'components/menu_hamburguesa.html'%}
    
    <main class="ml-64 p-8">
            <h2 class="centered-title">Fersan Motors Volkswagen</h2>
        <ul>
            <li class="agency-card">
                <center>
                <div>
                    <center><strong>Volkswagen Fersan Ixtapaluca</strong></center>
                </div>
                <div>
                    <img src="{% static 'images/localizador_agencias/ferzan_motors.png' %}" alt="Volkswagen Fersan Ixtapaluca">
                </div>
                    <div> 
                        <p>
                            Conmutador: <a href="Tel:55-15-61-20-70">55-15-61-20-70</a>
                        </p>
                    <center><p>Autos Nuevos</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-14-42-77-07">55-14-42-77-07</a>
                    </p>
                    <center><p>Servicio</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-79-43-71-34">55-79-43-71-34</a>
                    </p>
                    <center><p>Refacciones</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-12-93-28-42">55-12-93-28-42</a>
                    </p>
                    <center><p>Seminuevos</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-73-98-98-90">55-73-98-98-90</a>
                    </p>           
                </div>
                <a href="https://maps.app.goo.gl/Gyz6p8wUseHuoXhK7" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </center>
            </li>

            <li class="agency-card">
                <center>
                <div><center><strong>Volkswagen Fersan Iztacalco</strong></center></div>
                <div>
                    <img src="{% static 'images/localizador_agencias/fersan_izta.png' %}" alt="Volkswagen Fersan Iztacalco">
                </div>
                <div> 
                    <p>
                        Conmutador: <a href="Tel:55-93-87-40-00">55-93-87-40-00</a>
                    </p>
                    <center><p>Autos Nuevos</p></center>
                    <p>
                        Extension: <a href="Tel:55-93-87-40-00">5000</a>
                    </p>
                    <p>
                        Whatsapp: <a href="Tel:55-68-66-93-99">55-68-66-93-99</a>
                    </p>
    
                    <center><p>Servicio</p></center>
                    <p>
                        Extension: <a href="Tel:55-93-87-40-00">5016</a>
                    </p>
                    <p>
                        Whatsapp: <a href="Tel:55-74-32-89-09">55-74-32-89-09</a>
                    </p>
    
                    <center><p>Refacciones</p></center>
                    <p>
                        Extension: <a href="Tel:55-93-87-40-00">5019</a>
                    </p>    
                    <center><p>Seminuevos</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-19-21-40-22">55-19-21-40-22</a>
                    </p>                
                </div>
                <a href="https://maps.app.goo.gl/CCGY1waLeDsFsL2k7" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a> 
            </li>
        </center>

            <li class="agency-card">
                <center>
                <div><center><strong>Volkswagen Fersan Chalco</strong></center></div>
                <div>
                    <img src="{% static 'images/localizador_agencias/fersan_chalco.png' %}" alt="Volkswagen Fersan Chalco">
                </div>
                <div> 
                    <p>
                        Conmutador: <a href="Tel:55-92-66-72-50">55-92-66-72-50</a>
                    </p>
                    <center><p>Autos Nuevos</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-67-87-50-45">55-67-87-50-45</a>
                    </p>
    
                    <center><p>Servicio</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-62-31-46-09">55-62-31-46-09</a>
                    </p>
    
                    <center><p>Seminuevos</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-22-95-19-26">55-22-95-19-26</a>
                    </p>                
                </div>
                <a href="https://maps.app.goo.gl/Jx97GWhmB8A6UhvJ8" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </li>
        </center>
        </ul>

        <h2 class="centered-title">Chaixtsu Motors Suzuki</h2>
        <ul>
            <li class="agency-card">
                <center>
                <div><center><strong>Suzuki Chalco</strong></center></div>
                <div>
                    <img src="{% static 'images/localizador_agencias/Suzuki_chalco.PNG' %}" alt="Suzuki Chalco">
                </div>
                <div>
                    <p>
                        Conmutador: <a href="Tel:55-59-82-72-13">55-59-82-72-13</a>
                    </p>
                    <center><p>Ventas</p></center>
                    <p>
                        Whatsapp: <a href="Tel:55-70-46-72-73">Tel:55-70-46-72-73</a>
                    </p>
                    
                    <center><p>Servicio</p></center>
                    <p>
                        Whatsapp: <a href="Tel:56-38-39-58-46">56-38-39-58-46</a>
                    </p>

                    <center><p>Seminuevos</p></center>
                    <p>
                        Whatsapp: <a href="Tel:56-38-39-53-97">56-38-39-53-97</a>
                    </p>
                </div>
                <a href="https://maps.app.goo.gl/pU4rJRz4fDMKUZpm7" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>  
            </li>
        </center>

            <li class="agency-card">
                <center>
                <div><center><strong>Suzuki Ixtapaluca</strong></center></div>
                <div>
                    <img src="{% static 'images/localizador_agencias/suzukis.PNG' %}" alt="Suzuki Ixtapaluca">
                </div>
                <p>
                    Conmutador: <a href="Tel:55-15-61-23-00">55-15-61-23-00</a>
                </p>
                <center><p>Ventas</p></center>
                <p>
                    Whatsapp: <a href="Tel:55-76-12-33-54">Tel:55-76-12-33-54</a>
                </p>
                
                <center><p>Servicio</p></center>
                <p>
                    Whatsapp: <a href="Tel:56-38-39-58-46">56-38-39-58-46</a>
                </p>

                <center><p>Seminuevos</p></center>
                <p>
                    Whatsapp: <a href="Tel:56-38-39-53-97">56-38-39-53-97</a>
                </p>
            </div>
                <a href="https://maps.app.goo.gl/Wo6MGYe9GRCNCFqk6" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>  
            </li>
        </center>
        </ul>
    
        <h2 class="centered-title">Navarra Motors SEAT</h2>

        <ul>
            <li class="agency-card">
                <center>
                <div><center><strong>SEAT Ixtapaluca</strong></center></div>
                <div>
                    <img src="{% static 'images/localizador_agencias/seats.PNG' %}" alt="Seat Ixtapaluca">
                </div>
                <div>
                    <p>
                        Conmutador: <a href="Tel:55-27-34-23-86">55-27-34-23-86</a>
                    </p>
                    <p>
                        Whatsapp: <a href="Tel:55-64-71-04-63">55-64-71-04-63</a>
                    </p>
                    <center><p>Ventas</p></center>
                    <p>
                        Extension: <a href="Tel:55-27-34-23-86">1110</a>
                    </p>
                    
                    <center><p>Servicio</p></center>
                    <p>
                        Extension: <a href="Tel:55-27-34-23-86">1112</a>
                    </p>

                    <center><p>Refacciones</p></center>
                    <p>
                        Extension: <a href="Tel:55-27-34-23-86">1116</a>
                    </p>

                    <center><p>Seminuevos</p></center>
                    <p>
                        Extension: <a href="Tel:55-27-34-23-86">1117</a>
                    </p>
                    
                </div>
                <a href="https://maps.app.goo.gl/iwv1fxdRxtRAAwpJ6" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </li>
        </center>
        
        <li class="agency-card">
            <center>
                <div><center><strong>SEAT Chalco</strong></center></div>
                <div>
                <img src="{% static 'images/localizador_agencias/seat_ch.PNG' %}" alt="Seat Chalco">
                </div>
                <div> 
                    <p>
                        Faltan datos de contacto
                    </p>

                    <p>
                        Tel: <a href="Tel:55-63-50-35-11">55-63-50-35-11</a>
                    </p>
                </div>
                <a href="https://maps.app.goo.gl/h4MTYq5BGXnveZfr9" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </li>
        </center>
        </ul>

        <h2 class="centered-title">Fersan Bikes Harley Davidson</h2>

        <ul>
            <li class="agency-card">
                <center>
                <div><center><strong>Harley Davidson Puebla</strong></center></div>
                <div>
                <img src="{% static 'images/localizador_agencias/harleys.PNG' %}" alt="Harley Davidson Puebla">
                </div>
                <div>
                    <p>
                        Conmutador: <a href="Tel:22-29-82-48-50">22-29-82-48-50</a>
                    </p>
                </div>
                <a href="https://maps.app.goo.gl/avMraDNGQAG4Z6Jb7" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a> 
            </li>
        </center>
        </ul>

        <h2 class="centered-title">Trendy Motors OMODA | JAECOO</h2>

        <ul>
            <li class="agency-card">
                <center>
                <div><center><strong>OMODA | JAECOO Ixtapaluca</strong></center></div>
                <div>
                <img src="{% static 'images/localizador_agencias/omodas.PNG' %}" alt="Omoda Ixtapaluca">
                </div>
                <div>
                    <p>
                        Tel: <a href="Tel:55-60-90-99-64">55-60-90-99-64</a>
                    </p>
                </div>
                <a href="https://maps.app.goo.gl/VtbZLiMuwTs5aLjr5" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </li>
        </center>
        </ul>

        <h2 class="centered-title">IF Motors SEV</h2>

        <ul>
            <li class="agency-card">
                <center>
                <div><center><strong>SEV Puebla Los Fuertes</strong></center></div>
                <div>
                <img src="{% static 'images/localizador_agencias/sev_pue_fuertes.PNG' %}" alt="SEV Puebla Fuertes">
                </div>
                <div>
                    <p>
                        Tel: <a href="Tel:22-22-82-70-86">22-22-82-70-86</a>
                    </p>
                </div>
                <a href="https://maps.app.goo.gl/hJtpcxsXQvRg8yFp6" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </li>
        </center>    
        </ul>
    
        <h2 class="centered-title">IF Motors Zeekr</h2>

        <ul>
            <li class="agency-card">
                <center>
                <div><center><strong>Zeekr Puebla Angelópolis</strong></center></div>
                <div>
                <img src="{% static 'images/localizador_agencias/sev_puebla_angelopolis.PNG' %}" alt="SEV Puebla Angelópolis">
                </div>
                <div>  
                    <p>
                        Tel: <a href="Tel:22-22-82-70-86">22-22-82-70-86</a>
                    </p>
                </div>
                <a href="https://maps.app.goo.gl/keqjYqAwJeYjnKpv8" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </li>
            </center>
        </ul>

        <h2 class="centered-title">MOTORNATION</h2>

        <ul>
            <li class="agency-card">
                <center>
                <div><center><strong>Motornation Ixtapaluca</strong></center></div>
                <div>
                <img src="{% static 'images/localizador_agencias/motornation.PNG' %}" alt="Motornation Ixtapaluca">
                </div>
                <div>  
                    <p>
                        Tel: <a href="Tel:55-27-34-23-86">55-27-34-23-86</a>
                    </p>
                </div>
                <a href="https://maps.app.goo.gl/iwv1fxdRxtRAAwpJ6" target="_blank">
                    <img src="{% static 'images/maps.png' %}" alt="Google Maps" class="small-image hover-effect">
                </a>
            </li>
        </center>
        </ul>
       
</main>
{% include 'components/pie_de_pagina.html'%}
</body>
</html>