<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grupo Fersan Marcas</title>
  {% load static %} 
  <link rel="icon" type="image/png" href="{% static 'images/LOGOS_CARGA_PAGINA/HOLA.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body id="marcas-page" class="bg-gray-100"> 

{% include 'components/menu_hamburguesa.html'%}

  <main class="ml-64 p-8">
    <h2 class="centered-title">Marcas</h2>
    <div class="grid-container">

      <div class="agency-card">
        <a href="{% url 'volkswagen' %}" >
          <img src="{% static 'images/logos_marcas/vk.png' %}" alt="volkswagen" class="hover-effect">
        </a>
      </div>

      <div class="agency-card">
        <a href="{% url 'suzuki' %}" >
          <img src="{% static 'images/logos_marcas/suzuki.png' %}" alt="suzuki" class="hover-effect">
        </a>
      </div>

      <div class="agency-card">
        <a href="{% url 'harley' %}" >
          <img src="{% static 'images/logos_marcas/harley.png' %}" alt="harley davidson" class="hover-effect">
        </a>
      </div>

      <div class="agency-card">
        <a href="{% url 'seat' %}" >
          <img src="{% static 'images/logos_marcas/seat.png' %}" alt="seat" class="hover-effect">
        </a>
      </div>

      <div class="agency-card">
        <a href="{% url 'omoda' %}" >
          <img src="{% static 'images/logos_marcas/omoda.png' %}" alt="omoda" class="hover-effect">
        </a>
      </div>
      <div class="agency-card">
        <a href="{% url 'sev' %}" >
          <img src="{% static 'images/logos_marcas/sev.png' %}" alt="sev" class="hover-effect">
        </a>
      </div>
      <div class="agency-card">
        <a href="{% url 'zeekr' %}" >
          <img src="{% static 'images/logos_marcas/zeekr.png' %}" alt="zeekr" class="hover-effect">
        </a>
      </div>
      <div class="agency-card">
        <a href="{% url 'chirey' %}" >
          <img src="{% static 'images/logos_marcas/chirey.png' %}" alt="chirey" class="hover-effect">
        </a>
      </div>
      <div class="agency-card">
        <a href="{% url 'motornation' %}" >
          <img src="{% static 'images/logos_marcas/motornation.png' %}" alt="motornation" class="hover-effect">
        </a>
      </div>
    </div>
    
</main>
{% include 'components/pie_de_pagina.html'%}
</body>
</html>