<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fersan Motors Volkswagen</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'images/LOGOS_CARGA_PAGINA/FERSAN_LOGO_PAGINA.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body id="omoda-page" class="page-7 bg-gray-100"> <!-- Añadimos un ID único para esta página -->

  {% include 'components/menu_hamburguesa.html'%}

    <!-- Imagen superior derecha -->
<div class="top-right-image">
  <img src="{% static 'images/razon_social/FERSAN.png' %}" alt="Imagen superior derecha">
</div>

  <!-- Contenido principal -->
  <main class="ml-64 p-8">
    <h2 class="centered-title">Volkswagen</h2>
    <div class="grid-container">
      {% for vw_info in vw.vw_info %}
        <div class="agency-card">
          <h3><center>{{ vw_info.lugar }}</center></h3>
          <img class="small-image" src="{% static vw_info.logo %}" alt="LOGO_SUCURSAL">
          <img src="{% static vw_info.imagen %}" alt="Agencia {{ vw_info.lugar }}">

          <p>{{ vw_info.concecionario }}</p>
          <p>{{ vw_info.direccion }}</p>
          <p><a href="{{ vw_info.enlace }}" target="_blank">{{ vw_info.enlace }}</a></p>
          <p>Teléfono de contacto: <a href="tel:{{ vw_info.telefono }}">{{ vw_info.telefono }}</a></p>
        </div>
      {% endfor %}
    </div>
    
    </div>
  </main>
  {% include 'components/pie_de_pagina.html'%}
</body>
</html>
