<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar JSON - Grupo Fersan</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'images/FERSAN_LOGO_PAGINA.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles_editar.css' %}">
</head>
<body id="editar">

  {% include 'components/menu_hamburguesa.html' %}

  <main class="ml-64 p-8">
      <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if hora.pie_horarios %}
                {% for agencia in hora.pie_horarios %}
                    <div class="card-section">
                        <h4 class="card-title">Horario {{ forloop.counter }}</h4>
                        <label for="departamento_{{ forloop.counter0 }}" class="form-label">Departamento:</label>
                        <input type="text" id="departamento_{{ forloop.counter0 }}" name="departamento_{{ forloop.counter0 }}" value="{{ agencia.departamento }}" class="form-input">
                        <label for="horarios_{{ forloop.counter0 }}" class="form-label">Horarios:</label>
                        <textarea id="horarios_{{ forloop.counter0 }}" name="horarios_{{ forloop.counter0 }}" class="form-textarea">{{ agencia.horarios }}</textarea>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay información disponible.</p>
            {% endif %}


          <!-- Botón para eliminar la última tarjeta -->
          <button type="button" class="eliminar-tarjeta">Eliminar última tarjeta</button>

          <!-- Botón para agregar una nueva tarjeta -->
          <button type="button" class="agregar-tarjeta">Agregar tarjeta</button>

          <!-- Botón para guardar -->
          <button type="submit" class="form-button">Guardar</button>
      </form>

      <!-- Mensajes -->
      {% if messages %}
      <div class="messages">
          {% for message in messages %}
              <div class="message {{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
      {% endif %}
  </main>

</body>
</html>
